{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
 <div class="col-sm-10">
 <h3 class="text-white my-5">about page</h3>

 <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas, saepe!</p>
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae labore unde error sit, dolore quibusdam praesentium officiis voluptatem distinctio, excepturi reiciendis! Possimus, praesentium doloremque laudantium ex et laboriosam quidem totam.</p>
 </div>
{% endblock content %}